#mapa {
    height: 100vh;
}
#loading{
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255,0.8);
}
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }

  #customscroll{
      overflow-y: scroll;
      overflow-x: hidden;
      max-height: 640px;
  }